page-details {
    .content{

        background-image: url('../assets/imgs/pic2.jpg');
        background-repeat: no-repeat;
        background-position:center;
        background-size: 20cm;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
  .cards{
    background:#6B5597;
    padding-left: 30px !important;
    font-size: 10em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
    color: #ffffff;
  }
    }
}
